<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="blogs/public/style.css"/>
    <link rel="stylesheet" href="blogs/extraPublic/style.css"/>

    <title>Hello Dev🎉</title>
  </head>
  <body>
    <div class="container">
      <h1>Hello Dev🎉 | Blogs App | Extra Views</h1>
      <div class="flex">
        <a href="/">Root</a>
        <a href="/blogs">Blogs</a>
        <a href="/notes">Notes</a>
      </div>
    </div>
  </body>
</html>