<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Dev🎉</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f3f3f3;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      .container {
        text-align: center;
      }

      h1 {
        font-size: 48px;
        margin-bottom: 20px;
        color: #007bff;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <h1>Hello Dev🎉</h1>
    </div>
  </body>
</html>
