body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(198, 207, 16);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

a {
  text-decoration: none;
  font-size: larger;
  color: #007bff;
  font-family: monospace;
  transition: ease 0.3s;
}
a:hover {
  text-decoration: underline;
}

.container {
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #007bff;
}
