<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="projectPublic/style.css"/>
    <link rel="stylesheet" href="public/style.css"/>

    <title>Hello Dev🎉</title>
  </head>
  <body>
    <div class="container">
      <h1>Hello Dev🎉 | Root App</h1>
      <div class="flex">
        <a href="/">Root</a>
        <a href="/blogs">Blogs</a>
        <a href="/notes">Notes</a>
        <form class="card" method="post" action="/"  enctype="multipart/form-data">
         <input class="form-control" name="name" type="text" placeholder="name" />
          <input class="form-control" name="photo" type="file" multiple />
          <button class="btn btn-primary" type="submit">submit</button>
        </form>
      </div>
    </div>
  </body>
</html>